{% extends 'base.html' %}
{% block content %}
    <div class="header">
        <img class="main-img" src="https://i.ibb.co/bdJ16yP/mainimg.png">
        <div class="nav-custom">{% include 'navbar.html' %}</div>
    </div>
    <div class="main-content">
        <div class="main-text-container">
            <h1 class="main-text-bg">О компании</h1>
            <h3 class="main-text-fr">О компании</h3>
        </div>
        <div class="block">
            <div class="img-in-block-container">
                <img src="https://i.ibb.co/R4gmSXw/sergey-pesterev-l-GMufbn-B87-A-unsplash-1.png" class="img-in-block">
            </div>
            <div class="text-in-block">
                <h6>
                    TRIPZ - турагентство, специализирующееся на реализации уникальных туров по России. Мы предлагаем
                    широкий выбор путешествий, позволяющих полностью погрузиться в красоту и культуру этой удивительной
                    страны.
                </h6>
                <p>
                    Наше турагентство имеет богатый опыт в организации разнообразных поездок по России, включая
                    экскурсионные туры, приключенческие походы, культурные программы и многое другое. Мы тщательно
                    разрабатываем каждый тур, чтобы наши клиенты могли насладиться неповторимыми впечатлениями и открыть
                    для себя новые грани этой уникальной страны.
                </p>
            </div>
        </div>
        <div class="tours-div">
            <div class="main-text-container">
                <h1 class="main-text-bg">Туры</h1>
                <h3 class="main-text-fr">Туры</h3>
            </div>
            {% for tour in tours|slice:":3" %}
                <div class="block">
                    <div class="img-in-block-container">
                        <img src="{{ tour.image.url }}" class="img-in-block">
                    </div>
                    <div class="text-in-block">
                        <h6>
                            {{ tour.title }}
                        </h6>
                        <p>{{ tour.description|truncatechars_html:650|linebreaksbr }}</p>
                    </div>
                </div>
            {% endfor %}
            <div class="button-block">
                <div class="custom-button"><a href="{% url 'tours' %}">Поиск тура</a></div>
            </div>
        </div>
        <div class="news-div">
            <div class="main-text-container">
                <h1 class="main-text-bg">Новости</h1>
                <h3 class="main-text-fr">Новости</h3>
            </div>
            {% for new in news|slice:":3" %}
                <div class="block">
                    <div class="img-in-block-container">
                        <img src="{{ new.cover_image.url }}" class="img-in-block">
                    </div>
                    <div class="text-in-block">
                        <h6>
                            {{ new.title }}
                        </h6>
                        <p>{{ new.content|truncatechars_html:600|linebreaksbr }}</p>
                    </div>
                </div>
            {% endfor %}
            <div class="button-block">
                <div class="custom-button"><a href="{% url 'news' %}">Больше новостей</a></div>
            </div>
        </div>
    </div>
    <style>

        .nav-custom {
            z-index: 10000;
            position: fixed;
            top: 0px;
            width: 100%;
            background: none;
            padding: 0em 2em;
        }

        .main-img {
            width: 100%; /* заполнение ширины оболочки */
            height: 100%; /* заполнение высоты оболочки */
            object-fit: cover;
        }

        .main-content {
            width: 100%;
            padding: 2em;
            margin-bottom: 2em;
        }

        .main-text-container {
            position: relative;
            height: auto;
            margin-top: 4em;
        }

        .main-text-bg {
            position: absolute;
            z-index: 1;
            font-size: 8em;
            color: rgba(255, 255, 255, 0.5);
            text-align: center;
            width: 100%;
            top: -0.55em;
        }

        .main-text-fr {
            position: relative;
            font-size: 2em;
            z-index: 2;
            text-align: center;
        }

        .block {
            margin-top: 4em;
            overflow: hidden;
        }

        .img-in-block-container {
            float: left;
            width: 50%;
            padding: 1.5em 1.5em 1.8em;
        }

        .img-in-block {
            max-width: 95%; /* Убедитесь, что изображение подстраивается под родительский блок */
            border-radius: 0.6em;
            filter: drop-shadow(0em 0.2em 1em rgba(0, 0, 0, 0.2));
            height: auto;
        }

        .text-in-block {
            margin-top: 2em;
            overflow: hidden;
            margin-left: 50%;
        }

        .text-in-block h6 {
            position: relative; /* Добавлено свойство position */
            font-size: 1em;
            border-left-style: solid;
            border-left-color: #4AABE1;
            padding-left: 0.2em;
        }

        .text-in-block p {
            position: relative;
            padding-left: 0.5em;
            font-size: 0.8em;
        }

        .button-block {
            width: 100%;
            padding-bottom: 4em;
        }
        .custom-button{
            border-style: solid;
            border-radius: 1000px;
            border-width: 0.09em;
            padding: 0.3rem 0.3rem;
            line-height: 0.9rem;
            font-size: 1.2em;
            font-weight: 100;
            text-decoration: none;
            color: inherit;
            width: max-content;
            margin: auto;
        }
        .custom-button:hover{
            transform: scale(1.2);
        }
        .custom-button a{
            color: inherit;
            text-decoration: none;
        }

        .header {
            width: 100%;
        }
    </style>
{% endblock %}