{% block content %}
    <div class="navbar">
        <ul class="navbar-list">
            <li class="navbar-item navbar-item-left"><i class="bi bi-list" style="font-size: 1.55rem;
            cursor: pointer;" onclick="toggleMenu()"></i></li>
            <li class="navbar-item navbar-item-center"><a href="/" class="nav-logo-borders">TRIPZ</a></li>
            <li class="navbar-item navbar-item-right">
                {% if request.user.is_authenticated %}
                    <i class="bi bi-chat-dots" style="font-size: 1.5rem; margin-bottom: 0.4em"></i>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="bi"><i class="bi bi-person" style="font-size: 1.7rem;"></i></a>
                {% else %}
                    <a href="{% url 'login' %}" class="bi"><i class="bi bi-person" style="font-size: 1.7rem;"></i></a>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <i>{{ request.user.get_full_name }}</i>
                {% endif %}
            </li>
        </ul>
        <ul class="hidden-menu" id="hiddenMenu">
            <li>Новости</li>
            <li>Туры</li>
            <li>О компании</li>
        </ul>
    </div>
    <style>
        .nav-logo-borders{
            border-style: solid;
            border-radius: 1000px;
            border-width: 0.09em;
            padding: 0.3rem 0.3rem;
            line-height: 0.9rem;
            font-size: 1.2em;
            font-weight: 100;
            margin-right: 3em;
            margin-left: 14em;
            text-decoration: none;
            color: inherit;
        }
        .nav-logo-borders:hover{
            transform: scale(1.2);
        }
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            width: 100%;
        }

        .navbar-list {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
        }

        .navbar-item {
            display: flex;
            align-items: center;
            margin: 0 10px;
        }

        .navbar-item-left {
            margin-right: auto;
        }

        .navbar-item-right {
            margin-left: auto;
        }
        .bi{
            margin: 0.5rem;
        }
        .bi:hover{
            transform: scale(1.2);
        }
        .bi-person:hover{

        }
        .hidden-menu {
            margin-right: 3em;
            display: none;
            list-style: none;
            padding: 0;
            border-radius: 1em;
            background-color: color-mix(in lch, transparent 10%, white 90%);
            transition: background-color 0.6s ease-in-out;
            backdrop-filter: blur(5px);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
            padding: 0.5em;
            color: #1E282E;
        }

        .hidden-menu li {
            padding: 5px;
        }
        .hidden-menu li:hover{
            transform: translateY(-0.2em);
            text-decoration: underline;
        }
    </style>
    <script>
        function toggleMenu() {
            var hiddenMenu = document.getElementById("hiddenMenu");
            hiddenMenu.style.display = (hiddenMenu.style.display === "none") ? "block" : "none";
        }
    </script>
{% endblock content %}