{% extends 'base.html' %}
{% block content %}
    <div class="header">
        <div class="nav-custom">{% include 'navbar.html' %}</div>
    </div>
    <div class="main-content">
        <div class="main-text-container">
            <h1 class="main-text-bg">{{ service.tour.title }}</h1>
            <h3 class="main-text-fr">{{ service.tour.title }}</h3>
        </div>
        <div class="block">
            <img src="{{ service.tour.image.url }}" class="img-in-block">
            <p>
                {{ service.tour.description|linebreaksbr }}
            </p>
            <hr>
            <p>
                Отправление из города {{ service.tour.departure_city }} в {{ service.tour.living_conditions.hotel.city }}
            </p>
            <p>
                <i>Тип курорта: {{ service.tour.type_of_resort }}</i>
            </p>
            <hr>
            <p>
                <b>Условия страховки: {{ service.tour.insurance.title }}
                </b>
                <br>
                {{ service.tour.insurance.description|linebreaksbr }}
            </p>
            <hr>
            <p>
                <b>Информация об условиях проживания</b>
                <br>
                Название отеля: <b>{{ service.tour.living_conditions.hotel.title }}</b>
                <br>
                <i>
                    Адрес отеля: {{ service.tour.living_conditions.hotel.city.title }} {{ service.tour.living_conditions.hotel.address }}
                    <br>
                    Звездность отеля: {{ service.tour.living_conditions.hotel.star_rating }}
                </i>
                <hr>
                <i>
                    Тип номера: {{ service.tour.living_conditions.type_of_hotel_room.title }}
                    <br>{{ service.tour.living_conditions.type_of_hotel_room.description }}
                </i>
                <hr>
                <i>
                    Уровень обслуживания: {{ service.tour.living_conditions.type_of_hotel_catering.title }}
                    <br>{{ service.tour.living_conditions.type_of_hotel_catering.description }}
                </i>
            </p>
            <hr>
            <p>
                С {{ service.start_date }} по {{ service.end_date }}
            </p>
            <p style="color: #c61e29; font-weight: bolder">Цена: {{ service.price }}р</p>
            <hr>
            <div class="button-block">
                <div class="custom-button"><a href="">Забронировать</a></div>
            </div>
        </div>
    </div>
    <style>
        .nav-custom {
            z-index: 10000;
            position: fixed;
            top: 0px;
            width: 100%;
            background: none;
            padding: 0em 2em;
        }

        .main-content {
            width: 100%;
            padding: 2em;
            margin-bottom: 2em;
        }

        .main-text-container {
            position: relative;
            height: auto;
            margin-top: 4em;
        }

        .main-text-bg {
            position: absolute;
            z-index: 1;
            font-size: 2.5em;
            color: rgba(255, 255, 255, 0.5);
            text-align: center;
            width: 100%;
            top: -0.4em;
        }

        .main-text-fr {
            position: relative;
            font-size: 1.4em;
            z-index: 2;
            text-align: center;
        }

        .block {
            margin-top: 1em;
            overflow: hidden;
        }

        .img-in-block {
            max-width: 90%; /* Убедитесь, что изображение подстраивается под родительский блок */
            border-radius: 0.6em;
            filter: drop-shadow(0em 0.2em 1em rgba(0, 0, 0, 0.2));
            height: auto;
            margin: 2em;
        }


        .text-in-block h6 {
            position: relative; /* Добавлено свойство position */
            font-size: 1.2em;
            border-left-style: solid;
            border-left-color: #4AABE1;
            padding-left: 0.2em;
        }

        .text-in-block p {
            position: relative;
            padding-left: 0.5em;
            font-size: 0.8em;
        }

        .header {
            width: 100%;
        }
        .button-block {
            width: 100%;
            padding-bottom: 4em;
        }
        .custom-button{
            border-style: solid;
            border-radius: 1000px;
            border-width: 0.09em;
            padding: 0.3rem 0.3rem;
            line-height: 0.9rem;
            font-size: 1.2em;
            font-weight: 100;
            text-decoration: none;
            color: inherit;
            width: max-content;
            margin: auto;
        }
        .custom-button:hover{
            transform: scale(1.2);
        }
        .custom-button a{
            color: inherit;
            text-decoration: none;
        }
    </style>
{% endblock %}